<h2>livres</h2>

<form class="search-form">
  <input type="text" placeholder="Rechercher un livre" [(ngModel)]="searchTerm" name="searchTerm" class="search-input">
  <button type="button" (click)="rechercher()" class="search-button">Rechercher</button>
</form>

<table class="book-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Année</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livre of livres" class="book-row">
      <td>{{ livre.id }}</td>
      <td>{{ livre.intitule }}</td>
      <td>{{ livre.auteur }}</td>
      <td>{{ livre.anneePublication }}</td>
      <td>
        <button class="btn-delete" (click)="supprimerLivre(livre.id)">Delete</button>
        <button class="btn-update" (click)="ouvrirFormulaireMiseAJour(livre)">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>
